@media only screen and (max-width: 1320px){
    .head{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    .head{
        padding: 0 30px;
    }
    #barcode{
        max-width:380px
    }
}
@media only screen and (max-width: 1000px){
    #barcode{
        max-width:350px
    }
}
@media only screen and (max-width: 900px){
    #barcode{
        max-width:300px
    }
}
@media only screen and (max-width: 880px){
    .hamburger{
        display: block;
        cursor: pointer;

    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin:  6px 0;
    }
    .navbar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }
    .navbar.active{
        height: 450px;
    }
 
    .navbar.active ul{
        opacity: 1;
    }
    .navbar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .navbar ul li a{
        margin-bottom: 12px;
        color: red;

    }
}
@media only screen and (max-width: 800px){
    #barcode{
        max-width:250px
    }
    .box{
        width:300px
    }
}
@media only screen and (max-width: 650px){
    #barcode{
        max-width:220px
    }
    .box{
        width:280px
    }
}
@media only screen and (max-width: 600px){
    #barcode{
        max-width:200px
    }
    .box{
        width:250px
    }
}
@media only screen and (max-width: 500px){
    #barcode{
        max-width:150px;
        max-height:100px
    }
}

